body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* overflow: hidden; */
  }

/* @font-face {
    font-family: 'NotoSans-Black';
    src:url('../styles/fonts/notosanskr/NotoSans-Thin.otf')
}

* {
    font-family: 'NotoSans-Black';
} */